<div class= "container">
  <header class= "jumbotron">
    <div class="header">
      <h1>Question Board</h1>
      {{#link-to 'index'}}<span class="link">Home</span>{{/link-to}}
      {{#link-to 'about'}}<span class="link">About</span>{{/link-to}}
      {{#link-to 'contact'}}<span class="link">Contact</span>{{/link-to}}
    </div>
  </header>
    {{outlet}}
  <hr>
  <footer>
    Copyright Dylan Lewis 2017
  </footer>
</div>
